:root {
--hmc-color-primary: #EAAA00;
--hmc-color-secondary: #000000;
--background-main: #FFFFFF;
--background-secondary: #e2e2e2;
--main-font: "Roboto";
--mono-font: "Roboto Mono";
}

body * {
font-family: var(--main-font);
}

#results-box {
height: 80vh;
overflow-y: scroll;
border: 2px solid var(--background-secondary);
border-radius: 20px;
width: 70%;
margin: 0 auto;
}

#search-results {
font-family: var(--mono-font);
margin: 0 auto;
padding: 20px;
width: 100%;
}

.result {
display: table-row;
align-items: center;
}

.result * {
display: table-cell;
padding: 5px;
}

.result {
font-size: 16px;
height: 20px;
}

.result.header * {
font-weight: 500;
font-size: 20px;
padding-bottom: 20px;
}

.result.name {
width: 15vw;
}

.result.category {
width: 10vw;
}

.result.location {
width: 10vw;
}

.result.quantity {
width: 10vw;
}

.result.condition {
width: 10vw;
}

.result.last-checked {
width: 10vw;
}

.result:hover {
background-color: var(--background-secondary);
}

#search-box {
margin: 0 auto;
display: grid;
grid-template-columns: 10% 10% 50% 10% 10%;
justify-content: center;
align-items: center;
margin-top: 10px;
margin-bottom: 30px;
}

#search-input {
grid-column-start: 3;
grid-column-end: 4;
height: 60px;
font-size: 32px;
font-weight: 500;
padding: 10px;
padding-left: 20px;
border-radius: 60px;
border: 2px solid #e2e2e2;
transition: border 0.1s ease;
}

#search-input:focus {
outline: none;
border: 2px solid var(--hmc-color-primary);
}

#request-button {
grid-column-start: 4;
grid-column-end: 5;
margin-left: 30px;
height: 40px;
border-radius: 20px;
border: 2px solid var(--hmc-color-primary);
background-color: var(--hmc-color-primary);
color: #FFFFFF;
font-size: 16px;
}

#request-button:hover {
cursor: pointer;
filter:brightness(.95)
}

#logo {
grid-column-start: 2;
grid-column-end: 3;
height: 120px;
}